.homepage {
  font-family: 'Roboto', sans-serif;
}

@tailwind components;
@layer components {
  .homepage .banner-slider-container .slick-dots {
    @apply mb-10;
  }
  .homepage .banner-slider-container .slick-dots li button::before {
    @apply text-base text-yellow-400;
  }
}
/*# sourceMappingURL=HomePage.css.map */